<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73333449828-fj0de6293vetq77fu7tehb1achabghcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73333449828-fj0de6293vetq77fu7tehb1achabghcd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>73333449828-5vtukhr94gom8k26v3ha1lfnjjig1fp9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSrNTIAk84AURD_rMzPm19D_FWMt44zWE</string>
	<key>GCM_SENDER_ID</key>
	<string>73333449828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.xavierchretien.cinet</string>
	<key>PROJECT_ID</key>
	<string>cinet-13a11</string>
	<key>STORAGE_BUCKET</key>
	<string>cinet-13a11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73333449828:ios:54337727680732b232eb71</string>
	<key>DATABASE_URL</key>
	<string>https://cinet-13a11.firebaseio.com</string>
</dict>
</plist>